__pycache__/
.idea/
.git/
LICENSE
driver/
adora/
obs/collias/
obs/dfo1/
obs/nceiCoastal/
obs/nceiSalish/
obs/NHL/add_time_lat_to_csv.ipynb
obs/NHL/process_ctd.ipynb
obs/ecology/
obs/OLD/
obs/orca/
obs/readme_plots/
# Jupyter Notebook
.ipynb_checkpoints