__pycache__/
.idea/
.git/
LICENSE
driver/
adora/
LO_user/lo_tools/
LO_user/pgrid/
LO_user/climatology/
LO_user/obs/collias/
LO_user/obs/dfo1/
LO_user/obs/nceiCoastal/
LO_user/obs/**/*.ipynb
LO_user/obs/ecology/
LO_user/obs/OLD/
LO_user/obs/orca/
LO_user/obs/SOG/
LO_user/obs/readme_plots/
LO_user/extract/
LO_user/extract/**/*.ipynb
# Jupyter Notebook
.ipynb_checkpoints