__pycache__/
.idea/
.git/
LICENSE
driver/
adora/
/lo_tools/
/climatology/
/obs/collias/
/obs/dfo1/
/obs/nceiCoastal/
/obs/**/*.ipynb
/obs/ecology/
/obs/OLD/
/obs/orca/
/obs/SOG/
/obs/readme_plots/
/extract/trend/
/extract/**/*.ipynb
/extract/stressor/**/*.ipynb
/extract/stressor/hypoxia
# Jupyter Notebook
.ipynb_checkpoints
/extract/stressor/MHW/mhw-2020/
/extract/stressor/MHW/ocetrac/notebooks/01_preprocess.ipynb
/extract/stressor/MHW/ocetrac/notebooks/LO_01_preprocess.ipynb
/extract/stressor/MHW/ocetrac/notebooks/02_track.ipynb
/extract/stressor/MHW/ocetrac/notebooks/03_visualize.ipynb
/lo_tools/lo_tools/__init__.py
/extract/trend/add_CO2SYS.ipynb
/extract/trend/add_CO2SYS_01.ipynb
/extract/trend/add_CO2SYS_02.ipynb
/extract/trend/add_CO2SYS_03.ipynb
/extract/trend/add_CO2SYS_04.ipynb
/extract/trend/add_CO2SYS_05.ipynb
/extract/box/add_CO2SYS_to_box.ipynb
/extract/box/add_CO2SYS_to_box.py
/extract/moor/add_CO2SYS_to_moor.ipynb
/extract/moor/add_CO2SYS_to_moor_01.py
/obs/LineP/add_time_lat_lon_csv.ipynb
/obs/NHL/add_time_lat_to_csv.ipynb
/extract/box/average_extracted_box.ipynb
/extract/moor/average_extracted_moor.ipynb
/extract/box/average_into_climatology.ipynb
/extract/moor/average_into_climatology.ipynb
/obs/OOI/plot/Coastal-Endurance-Array.jpg
/extract/stressor/MHW/ocetrac/notebooks/collect_surface_stats_pres.ipynb
/extract/moor/combine_CO2SYS_years_moor.ipynb
/extract/moor/combine_CO2SYS_years_moor.py
/extract/moor/combine_CO2SYS_years_moor_01.py
/obs/nceiPNW/combine_to_yearly.ipynb
/extract/moor/combine_years_moor.ipynb
/extract/moor/combine_years_moor.py
/extract/stressor/MHW/ocetrac/notebooks/dataframe_ocetrac.ipynb
/lo_tools/lo_tools.egg-info/dependency_links.txt
/lo_tools/lo_tools/dot_in_argfun.py
/extract/stressor/MHW/ocetrac/notebooks/environment.yml
/extract/stressor/MHW/example_synthetic.ipynb
/lo_tools/lo_tools/extract_argfun.py
/extract/moor/extract_moor_trend.py
/lo_tools/lo_tools/forcing_argfun.py
/lo_tools/lo_tools/forcing_argfun2.py
/extract/box/get_anomaly.ipynb
/lo_tools/lo_tools/hycom_functions.py
/extract/box/job_definitions_OLD.py
/extract/stressor/MHW/ocetrac/notebooks/JOSS_example.ipynb
/lo_tools/lo_tools/Lfun.py
/obs/LineP/plot/Line_P-DESKTOP-A0V7GBT.gif
/extract/trend/extract_trend.ipynb
/extract/trend/extract_trend_CO2SYS.ipynb
/extract/trend/extract_trend_CO2SYS_01.ipynb
/extract/trend/extract_trend_CO2SYS_02.ipynb
/extract/trend/extract_trend_CO2SYS_03.ipynb
/extract/trend/plot_trend.ipynb
/extract/trend/plot_trend_01.ipynb
/extract/stressor/MHW/marineHeatWaves_manual.html
/extract/stressor/MHW/mhw_stats.py
/obs/nceiPNW/plot/neciPNW-DESKTOP-A0V7GBT.png
/lo_tools/lo_tools/obs_functions.py
/obs/WOD/plot/ocldb1703191387.27250.jpg
/obs/OCNMS/plot/ocnms_2011_2023.png
/lo_tools/lo_tools/Ofun_nc.py
/extract/stressor/MHW/mhw_OISST_stats.ipynb
/lo_tools/lo_tools.egg-info/PKG-INFO
/extract/cast/plot_casts.ipynb
/extract/cast/plot_casts.py
/extract/trend/plot_climatology_surf_and_bott_temp.py
/obs/OCNMS/plot_data.ipynb
/obs/orca/plot_data_all_sta_seasonal.py
/obs/orca/plot_data_catalog.ipynb
/obs/orca/plot_data_single_property.py
/climatology/plot_layer_mean_field.ipynb
/obs/OOI/plot_moor.ipynb
/obs/PMEL/plot_moor.ipynb
/obs/NHL/plot_obsmod.ipynb
/climatology/plot_OISST.ipynb
/extract/trend/plot_series_trends.py
/climatology/plot_SSS.ipynb
/lo_tools/lo_tools/plotting_functions.py
/lo_tools/lo_tools/post_argfun.py
/obs/HABRISE/process_bottle.ipynb
/obs/nceiSOG/process_bottle.ipynb
/obs/HABRISE/process_ctd.ipynb
/obs/LineP/process_ctd.ipynb
/obs/NHL/process_ctd.ipynb
/obs/OCNMS/process_ctd.ipynb
/obs/SOG/process_ctd.ipynb
/obs/dfo1/process_ctd.py
/obs/OCNMS/old/process_ctd_01.ipynb
/obs/OCNMS/old/process_ctd_02.ipynb
/obs/HABRISE/process_ctd_mat.ipynb
/obs/LineP/process_data.ipynb
/obs/nceiCoastal/process_data.ipynb
/obs/nceiPNW/process_data.ipynb
/obs/NHL/process_data.ipynb
/obs/SXS/process_data.ipynb
/obs/WCOA2021/process_data.ipynb
/obs/WOD/process_data.ipynb
/obs/orca/process_data.py
/obs/LineP/process_data_01.ipynb
/obs/LineP/process_data_02.ipynb
/obs/LineP/process_data_03.ipynb
/obs/LineP/process_data_04.ipynb
/climatology/process_GlobColor.ipynb
/obs/HABRISE/process_moor.ipynb
/obs/NHL/process_moor.ipynb
/obs/OCNMS/process_moor.ipynb
/obs/OOI/process_moor.ipynb
/obs/PMEL/process_moor.ipynb
/obs/QudraBoL/process_moor.ipynb
/obs/OCNMS/old/process_moor_01.ipynb
/obs/OCNMS/old/process_moor_02.ipynb
/obs/OCNMS/old/process_moor_03.ipynb
/obs/OCNMS/process_moor_add_CO2SYS.ipynb
/obs/OOI/process_moor_add_CO2SYS.ipynb
/obs/OCNMS/old/process_moor_add_OA.ipynb
/obs/OCNMS/process_moor_check_unit.ipynb
/climatology/process_NHL.ipynb
/climatology/process_OA_climatology.ipynb
/climatology/process_OISST.ipynb
/climatology/process_OISST.py
/climatology/process_SSS.ipynb
/climatology/process_SSS_01.ipynb
/climatology/process_WOA2023.ipynb
/lo_tools/lo_tools/pyTMD_functions.py
/obs/dfo1/README.md
/obs/orca/readme_plots.py
/lo_tools/lo_tools/river_functions.py
/lo_tools/setup.py
/lo_tools/lo_tools.egg-info/SOURCES.txt
/extract/stressor/MHW/ocetrac/tests/test_model.py
/lo_tools/lo_tools.egg-info/top_level.txt
/lo_tools/lo_tools/tpxo_functions.py
/lo_tools/lo_tools/zfun.py
/lo_tools/lo_tools/zrfun.py
